body {
  background-color: #F1E7DA;
  margin: auto;
}

img {
  height: auto;
  width: 200px;
}

a {
  color: black;
  text-decoration: none;
}

div a {
  color: white;
}

section {
  text-align: center;
}

ul {
  padding: 0 44%;
}

li {
  
  list-style-type: none
}

.li01 {
  background-color: #C5BAAF;
  font-size: 18px;
}

.li02 {
  font-size: 20px;
}

h1 {
  font-family: monospace;
}

h2, h3, h4 {
  background-color: #AE8057;
  color: white;
}

section > a {
  background-color: #AE8057;
  color: white;
}

section.descrition{
  margin-left: auto;
  margin-right: auto;
  width: 27%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 ~ p {
  width: 58%;
  margin-left: auto;
  margin-right: auto;
}

.photo {
align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 14em;
}

.title {
  background-color: #233953;
  color: white;
  margin: 0;
  padding: 10px 0 20px;
  text-align: center;
}
